<header class="jumbotron subhead" id="overview">
  <div class="container" style="background: url('@Url.Content("~/Content/Images/HeaderBackground.png")') repeat-x;">

<div id="myCarousel" class="carousel slide">  
  <!-- Carousel items -->  
  <div class="carousel-inner">  
    <div class="active item">
      <div style="margin-left: 60px; margin-right: 60px; vertical-align: middle;">
        <a href="http://localhost/"><img src="~/Content/images/Page1.png" height="100" width="100" alt="Page1" style="float: left;" border="0"/></a>
        <a href="http://localhost/" style="text-decoration: none; color: black;"><h1>Page 1</h1><p class="lead">Your Home Page</p></a>
      </div>
    </div>  
    <div class="item">
      <div style="margin-left: 60px; margin-right: 60px; vertical-align: middle;">
        <a href="http://localhost/Page2/"><img src="~/Content/images/Page2.png" height="100" width="100" alt="Page2" style="float: left;" border="0"/></a>
        <a href="http://localhost/Page2/" style="text-decoration: none; color: black;"><h1>Page 2</h1></a>
      </div>
    </div>  
    <div class="item">
      <div style="margin-left: 60px; margin-right: 60px; vertical-align: middle;">
        <a href="http://localhost/Page3/"><img src="~/Content/images/Page3.png" height="100" width="100" alt="Page3" style="float: left;" border="0"/></a>
        <a href="http://localhost/Page3/" style="text-decoration: none; color: black;"><h2>Page 3</h2></a>
      </div>
    </div>  
  </div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
</div>  

  </div>
</header>
