@model MVCPractise3.Models.Item


<h1>留言板</h1>
@for (var i = 0; i < Model.AllMessage.Count; i++)
{

    <h2>

        姓名: @Model.AllMessage[i].Name<br />
        內容: @Model.AllMessage[i].Content<br />
        留言時間: @Model.AllMessage[i].Time<br />
        ----------------------------------------------------------
    </h2>
}
